<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.favicon.png"/>
    <title>CarePets</title>
</head>

<link rel="stylesheet" href="/css/style_check.css">

<main>
        <header class="header">
            <div class="head">
                <a href="/home" class="logo">
                    <svg width="175" height="64" viewBox="0 0 175 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="43.0897" cy="39.3743" rx="22.1686" ry="16.8076" transform="rotate(-24.0129 43.0897 39.3743)" fill="#2E0000"/>
                        <ellipse cx="11.438" cy="38.859" rx="8.28416" ry="8.21404" transform="rotate(-33.4091 11.438 38.859)" fill="#2E0000"/>
                        <ellipse cx="23.594" cy="19.6162" rx="8.28416" ry="8.21404" transform="rotate(-33.4091 23.594 19.6162)" fill="#2E0000"/>
                        <ellipse cx="42.5093" cy="11.4181" rx="8.28416" ry="8.21404" transform="rotate(-33.4091 42.5093 11.4181)" fill="#2E0000"/>
                        <ellipse cx="63.438" cy="15.4181" rx="8.28416" ry="8.21404" transform="rotate(-33.4091 63.438 15.4181)" fill="#2E0000"/>
                        <path d="M84.1445 42.32C82.7045 42.32 81.4445 42.06 80.3645 41.54C79.2845 41.0067 78.4445 40.2733 77.8445 39.34C77.2579 38.3933 76.9645 37.3 76.9645 36.06C76.9645 34.8333 77.1779 33.7067 77.6045 32.68C78.0445 31.6533 78.6579 30.7667 79.4445 30.02C80.2312 29.2733 81.1645 28.7 82.2445 28.3C83.3245 27.8867 84.5112 27.68 85.8045 27.68C87.1512 27.68 88.3445 27.92 89.3845 28.4C90.4245 28.88 91.1979 29.5733 91.7045 30.48L88.3045 33.14C88.0112 32.62 87.6312 32.22 87.1645 31.94C86.6979 31.6467 86.1445 31.5 85.5045 31.5C84.9445 31.5 84.4312 31.6067 83.9645 31.82C83.5112 32.02 83.1179 32.3133 82.7845 32.7C82.4512 33.0733 82.1912 33.52 82.0045 34.04C81.8179 34.56 81.7245 35.1333 81.7245 35.76C81.7245 36.3067 81.8445 36.7867 82.0845 37.2C82.3245 37.6133 82.6579 37.9333 83.0845 38.16C83.5245 38.3867 84.0312 38.5 84.6045 38.5C85.1512 38.5 85.6845 38.3733 86.2045 38.12C86.7379 37.8667 87.2445 37.4533 87.7245 36.88L90.5045 39.54C89.6512 40.58 88.6979 41.3067 87.6445 41.72C86.6045 42.12 85.4379 42.32 84.1445 42.32ZM95.6148 42.2C94.8948 42.2 94.1882 42.0067 93.4948 41.62C92.8015 41.22 92.2282 40.6467 91.7748 39.9C91.3348 39.14 91.1148 38.22 91.1148 37.14C91.1148 36.2333 91.2682 35.4 91.5748 34.64C91.8815 33.88 92.3015 33.22 92.8348 32.66C93.3815 32.0867 94.0015 31.6467 94.6948 31.34C95.4015 31.02 96.1482 30.86 96.9348 30.86C97.7882 30.86 98.5282 31.0333 99.1548 31.38C99.7815 31.7267 100.228 32.3133 100.495 33.14C100.775 33.9533 100.802 35.08 100.575 36.52C100.388 37.6933 100.068 38.7067 99.6148 39.56C99.1748 40.4133 98.6215 41.0667 97.9548 41.52C97.2882 41.9733 96.5082 42.2 95.6148 42.2ZM97.3148 38.64C97.7148 38.64 98.0615 38.54 98.3548 38.34C98.6482 38.1267 98.8748 37.8333 99.0348 37.46C99.2082 37.0867 99.2948 36.6467 99.2948 36.14C99.2948 35.6333 99.1482 35.22 98.8548 34.9C98.5748 34.58 98.1815 34.42 97.6748 34.42C97.2882 34.42 96.9415 34.5267 96.6348 34.74C96.3415 34.94 96.1082 35.2267 95.9348 35.6C95.7748 35.9733 95.6948 36.4133 95.6948 36.92C95.6948 37.4267 95.8348 37.84 96.1148 38.16C96.4082 38.48 96.8082 38.64 97.3148 38.64ZM98.3748 42L98.6748 40.52L99.4148 36.52L99.9948 32.56L100.295 31.06H104.815L102.635 42H98.3748ZM104.619 42L106.799 31.06H111.059L110.439 34.16L110.019 33.28C110.472 32.4133 111.099 31.7933 111.899 31.42C112.712 31.0467 113.639 30.86 114.679 30.86L113.879 34.86C113.692 34.8333 113.519 34.8133 113.359 34.8C113.212 34.7867 113.059 34.78 112.899 34.78C112.152 34.78 111.545 34.9467 111.079 35.28C110.625 35.6133 110.319 36.1667 110.159 36.94L109.139 42H104.619ZM120.162 42.2C118.962 42.2 117.909 41.9933 117.002 41.58C116.109 41.1667 115.409 40.58 114.902 39.82C114.396 39.06 114.142 38.1667 114.142 37.14C114.142 35.94 114.422 34.8667 114.982 33.92C115.542 32.9733 116.329 32.2267 117.342 31.68C118.369 31.1333 119.562 30.86 120.922 30.86C122.096 30.86 123.096 31.0667 123.922 31.48C124.749 31.8933 125.382 32.46 125.822 33.18C126.262 33.9 126.482 34.7333 126.482 35.68C126.482 36.0133 126.456 36.34 126.402 36.66C126.362 36.98 126.309 37.2867 126.242 37.58H117.742L118.162 35.4H124.162L122.282 35.98C122.389 35.5533 122.382 35.1933 122.262 34.9C122.156 34.5933 121.969 34.36 121.702 34.2C121.436 34.0267 121.109 33.94 120.722 33.94C120.176 33.94 119.742 34.0867 119.422 34.38C119.102 34.6733 118.869 35.0533 118.722 35.52C118.589 35.9867 118.522 36.4733 118.522 36.98C118.522 37.66 118.702 38.1467 119.062 38.44C119.436 38.72 119.976 38.86 120.682 38.86C121.096 38.86 121.509 38.8 121.922 38.68C122.336 38.5467 122.716 38.3533 123.062 38.1L124.942 40.84C124.196 41.3467 123.416 41.7 122.602 41.9C121.802 42.1 120.989 42.2 120.162 42.2ZM126.751 42L129.551 28H135.771C137.651 28 139.098 28.4067 140.111 29.22C141.138 30.0333 141.651 31.1733 141.651 32.64C141.651 33.8133 141.358 34.8467 140.771 35.74C140.198 36.6333 139.378 37.3267 138.311 37.82C137.258 38.3133 136.011 38.56 134.571 38.56H130.051L132.571 36.5L131.471 42H126.751ZM132.451 37.06L130.791 34.92H134.811C135.464 34.92 135.971 34.76 136.331 34.44C136.691 34.1067 136.871 33.6467 136.871 33.06C136.871 32.5533 136.711 32.1933 136.391 31.98C136.084 31.7533 135.658 31.64 135.111 31.64H131.451L133.971 29.44L132.451 37.06ZM147.799 42.2C146.599 42.2 145.546 41.9933 144.639 41.58C143.746 41.1667 143.046 40.58 142.539 39.82C142.032 39.06 141.779 38.1667 141.779 37.14C141.779 35.94 142.059 34.8667 142.619 33.92C143.179 32.9733 143.966 32.2267 144.979 31.68C146.006 31.1333 147.199 30.86 148.559 30.86C149.732 30.86 150.732 31.0667 151.559 31.48C152.386 31.8933 153.019 32.46 153.459 33.18C153.899 33.9 154.119 34.7333 154.119 35.68C154.119 36.0133 154.092 36.34 154.039 36.66C153.999 36.98 153.946 37.2867 153.879 37.58H145.379L145.799 35.4H151.799L149.919 35.98C150.026 35.5533 150.019 35.1933 149.899 34.9C149.792 34.5933 149.606 34.36 149.339 34.2C149.072 34.0267 148.746 33.94 148.359 33.94C147.812 33.94 147.379 34.0867 147.059 34.38C146.739 34.6733 146.506 35.0533 146.359 35.52C146.226 35.9867 146.159 36.4733 146.159 36.98C146.159 37.66 146.339 38.1467 146.699 38.44C147.072 38.72 147.612 38.86 148.319 38.86C148.732 38.86 149.146 38.8 149.559 38.68C149.972 38.5467 150.352 38.3533 150.699 38.1L152.579 40.84C151.832 41.3467 151.052 41.7 150.239 41.9C149.439 42.1 148.626 42.2 147.799 42.2ZM159.488 42.2C158.554 42.2 157.761 42.0267 157.108 41.68C156.454 41.3333 155.994 40.8267 155.728 40.16C155.461 39.48 155.421 38.6667 155.608 37.72L157.428 28.6H161.948L160.128 37.7C160.061 38.0733 160.101 38.3467 160.248 38.52C160.394 38.6933 160.621 38.78 160.928 38.78C161.114 38.78 161.281 38.76 161.428 38.72C161.588 38.6667 161.754 38.6 161.928 38.52L162.448 41.56C162.034 41.7867 161.568 41.9467 161.048 42.04C160.541 42.1467 160.021 42.2 159.488 42.2ZM154.648 34.96L155.308 31.66H163.568L162.908 34.96H154.648ZM168.007 42.2C167.034 42.2 166.107 42.1067 165.227 41.92C164.36 41.72 163.687 41.48 163.207 41.2L164.767 38.12C165.314 38.4533 165.927 38.7067 166.607 38.88C167.3 39.04 167.954 39.12 168.567 39.12C169.074 39.12 169.42 39.0733 169.607 38.98C169.807 38.8733 169.907 38.7467 169.907 38.6C169.907 38.44 169.774 38.3267 169.507 38.26C169.24 38.18 168.894 38.1133 168.467 38.06C168.054 38.0067 167.614 37.9267 167.147 37.82C166.68 37.7133 166.234 37.56 165.807 37.36C165.394 37.1467 165.054 36.8533 164.787 36.48C164.52 36.1067 164.387 35.6133 164.387 35C164.387 34.0533 164.66 33.28 165.207 32.68C165.767 32.0667 166.514 31.6133 167.447 31.32C168.38 31.0133 169.414 30.86 170.547 30.86C171.347 30.86 172.114 30.9333 172.847 31.08C173.594 31.2133 174.254 31.4133 174.827 31.68L173.267 34.76C172.694 34.4267 172.12 34.2067 171.547 34.1C170.987 33.9933 170.474 33.94 170.007 33.94C169.487 33.94 169.127 34 168.927 34.12C168.727 34.2267 168.627 34.3467 168.627 34.48C168.627 34.64 168.76 34.76 169.027 34.84C169.294 34.92 169.634 34.9933 170.047 35.06C170.46 35.1133 170.9 35.1933 171.367 35.3C171.847 35.3933 172.294 35.5467 172.707 35.76C173.12 35.96 173.46 36.2467 173.727 36.62C173.994 36.9933 174.127 37.4867 174.127 38.1C174.127 39.0067 173.847 39.7667 173.287 40.38C172.74 40.9933 172 41.4533 171.067 41.76C170.147 42.0533 169.127 42.2 168.007 42.2Z" fill="black"/>
                    </svg>
                </a>
                <div class="menu">
                    <a href="/menu">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 3H33" stroke="black" stroke-width="5" stroke-linecap="round"/>
                            <path d="M3 18H33" stroke="black" stroke-width="5" stroke-linecap="round"/>
                            <path d="M3 33H33" stroke="black" stroke-width="5" stroke-linecap="round"/>
                        </svg>
                    </a>
                </div>
            </div>

        </header>
        <h1 class="pagetitle">신청 내역 확인하기</h1>

        
</main>


<body style="background-color:#ffd483">
    
</body>

